.wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-radius: 0.5rem;
	background-color: hsl(204 20% 100%);
	padding: 0.5rem;
	box-shadow:
		0 1px 3px 0 rgb(0 0 0 / 0.1),
		0 1px 2px -1px rgb(0 0 0 / 0.1);
}

:is(:where(.dark) .wrapper) {
	background-color: hsl(204 3% 18%);
	box-shadow:
		0 1px 3px 0 rgb(0 0 0 / 0.25),
		0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.tab-list {
	display: flex;
	gap: 0.5rem;
	overflow-x: auto;
}

.tab {
	display: flex;
	height: 3rem;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	border-radius: 0.25rem;
	border-style: none;
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1rem;
	line-height: 1.5rem;
}

.tab:hover {
	background-color: hsl(204 10% 10% / 0.1);
}

.tab[aria-disabled="true"] {
	opacity: 0.5;
}

.tab[aria-selected="true"] {
	background-color: #b80000;
	color: hsl(204 20% 100%);
}

.tab:hover[aria-selected="true"] {
	background-color: #b80000;
}

.tab:focus-visible,
.tab[data-focus-visible] {
	outline: 2px solid #b80000;
	outline-offset: 2px;
}

:is(:where(.dark) .tab:hover) {
	background-color: hsl(204 20% 100% / 0.1);
}

:is(:where(.dark) .tab[aria-selected="true"]) {
	background-color: #b80000;
	color: hsl(204 20% 100%);
}

:is(:where(.dark) .tab:hover[aria-selected="true"]) {
	background-color: #b80000;
}

.panels {
	padding: 0.5rem;
}

.tnb-top_news {
	&__article-list {
		list-style-type: none;
		margin: 0;
		padding: 0;

		& > li:nth-child(odd) {
			background-color: #f0f0f0;
		}

		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 0.5rem;

			& > li:nth-child(odd) {
				background-color: transparent;

				&:hover {
					background-color: #f0f0f0;
				}
			}
		}
	}

	&__article-list-item {
		padding: 10px 20px;
		border: 1px solid #ccc;
		margin-bottom: 20px;

		@media (min-width: 768px) {
			&:hover {
				background-color: #f0f0f0;
			}
		}
	}
}
